@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded.woff') format('woff');
    src: url('../fonts/CirceRounded-Light.woff') format('woff');

}

*{
    font-family: 'Circe Rounded';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
.nav-panel{
    height: 90px;
    width: 100%;
}
.nav-container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.logo a{
    font-family: 'Nerko One', cursive;
    font-size: 30px;
    text-decoration: none;
    color: #2779CF;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    list-style-type: none;
    display: flex;
}
.nav-list ul li{
    margin-left: 40px;
}
.nav-list ul li a{
    text-decoration: none;
    color: #151515;
    font-size: 20px;
    transition: 0.2s all;
}
.nav-list ul li a:hover{
    border-bottom: 2px solid #2779CF;
    color: #2779CF;
}
.bars{
    display: none;
    cursor: pointer;
}
.burger-menu{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 15px 0 0;
    font-size: 26px;
    color: #2779CF;
    transform: translateY(-100vh);
    transition: 1s all;
}
.burger-menu.active{
    transform: translateY(0vh);
}
.burger-list{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger-list a{
    text-decoration: none;
    color: #2779CF;
}
.nav-list button{
    width: 212px;
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 40px;
    background-color: #2779CF;
    color: #fff;
    border: none;
    transition: 0.2s all;
    border: 2px solid #2779CF;
}
.nav-list button:hover{
    background-color: white;
    color: #2779CF;
}
.content{
    height: 500vh;
    width: 100%;
}
.container{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.section1{
    height: auto;
    width: 100%;
    padding: 30px 0 80px 0 ;
}
.block{
    display: flex;   
    width: 98%;
    height: 500px;
    border-radius: 30px;
    background: linear-gradient(91.47deg, #153091 -21.11%, #2779CF 122.13%);
}
.block-text{
    padding: 0 50px;
    width: 40%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.text1{
    font-size: 52px;
    font-weight: normal;
}
.text2{
    font-size: 46px;
}
.text3{
    font-size: 30px;
    margin-top: 50px;
}
.block-text button{
    margin-top: 30px;
    height: 55px;
    width: 220px;
    background-color: #0395FF;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}
.block-text button:hover{
    background-color: #4db5ff;
}
.block-img{
    width: 60%;
    height: 100%;
}
.whatsapp{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: end;
}
.whatsapp-circle{
    height: 100%;
    width: 45px;
    border-radius: 50%;
    background-color: #46C456;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}
.whatsapp-circle:hover{
    background-color: #43db57;
}
.whatsapp-circle i{
    font-size: 30px;
    color: #fff;
}
.section2{
    height: auto;
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: "i1 i2 i5 i5"
                         "i3 i4 i5 i5";
}
.i1{
    grid-area: i1;
    border-radius: 0px 0px 0px 50px;
}
.i2{
    grid-area: i2;
    border-radius: 0px 50px 0px 0px;
}
.i3{
    grid-area: i3;
    border-radius: 0px 0px 0px 50px;
}
.i4{
    grid-area: i4;
    border-radius: 50px 0px 0px 0px;
}
.i5{
    grid-area: i5;
    text-align: left; 
    padding: 80px 100px 0px 50px;
}
.i5 b{
    font-size: 45px;
    
}
.comment2{
    font-size: 24px;
    color: #999999;
    margin-top: 30px;
}
.i5 button{
    margin-top: 30px;
    height: 55px;
    width: 260px;
    background-color: #2779CF;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}
.i5 button:hover{
    background-color: #3d88d8;
}
.a{
    background-color: #fff;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.05);
    padding: 35px 60px 35px 55px;
}
.a img{
    height: 60px;
    width: 60px;
    
}
.title{
    margin-top: 15px;
}
.comment{
    margin-top: 5px;
    color: #999999;
}
.section3{
    height: 120vh;
    width: 100%;
    padding-top: 50px;
}

.slider-item{
    height: 570px;
    width: 385px;
    margin: 50px 30px 0 30px;
    position: relative;
}
.cards{
    height: 100%;
    width: 100%;
    position: relative;
}
.cards img{
    height: 475px;
    width: 100%;
}
.cards i{
    position: absolute;
    left: 25px;
    bottom: 120px;
}
.cards b{
    font-size: 24px;
}
.more{
    margin-top: 15px;
}
.more i{
   color: #2779CF;
   bottom: 63px;
   left: 90px;
}
.cards a{
    text-decoration: none;
    color: #2779CF;
}
.section4{
    height: auto;
    width: 100%;
}
.sectiontexts{
    width: 100%;
    text-align: center;
}
.sectiontexts b{
    font-size: 45px;
}
.sectiontexts p{
    margin-top: 20px;
    font-size: 24px;
    color: #999999;
}
.circle-images{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sircles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
.sircles b{
    font-size: 28px;
}
.sircles p{
    font-size: 18px;
    margin-top: 30px;
}

.sircle-1{
    background-color: rgba(39, 121, 207, 0.7);
    z-index: 5;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    padding: 0 90px 0 90px;
}
.sircle-2{
    background-color: rgba(40, 77, 209, 0.7);
    z-index: 5;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    padding: 0 30px 0 70px;
}
.sircle-3{
    background-color: rgba(3, 149, 255, 0.7);
    z-index: 5;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    position: absolute;
    padding: 0 30px 0 70px;
}
.sircle1{
    height: 400px;
    width: 400px;
}
.sircle1 img{
    height: 400px;
    width: 400px;
}
.sircle2{
    margin-top: 100px;
    height: 350px;
    width: 350px;
}
.sircle2 img{
    height: 350px;
    width: 350px;
}
.sircle3{
    height: 330px;
    width: 330px;
}
.sircle3 img{
    height: 330px;
    width: 330px;
}
.section5{
    padding-top: 50px;
    height: auto;
    width: 100%;
}
.price-blocks{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.price-block{
    padding: 60px 50px 50px 72px;
    height: auto;
    width: 575px;
    border-radius: 50px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.05);
    margin-top: 45px;
}
.price-block-title{
    font-size: 38px;
}
.price{
   display: flex;
   align-items: center;
   margin-top: 60px;
}
.price b{
    font-size: 54px;
}
.price i{
    margin-left: 15px;
    font-size: 54px;
}
.price p{
    font-size: 28px;
    margin-left: 20px;
    font-weight:  lighter;
    color: #DADADA;
}
.timetable{
    margin-top: 35px
}
.graph{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.graph p{
    font-size: 18px;
    color: #999999;
}
.graph i{
    color: #B8DBFF;
    font-size: 25px;
    margin: 10px;
}
.price-block button{
    font-weight: bold;
    width: 100%;
    height: 55px;
    background-color: #2779CF;
    color: #fff;
    border-radius: 60px;
    border: none;
    margin-top: 80px;
    cursor: pointer;
    transition: 0.3s all;
}
.price-block button:hover{
    background-color: #448cd8;
}
.section6{
    height: auto;
    width: 100%;
    padding: 30px 0 0 0 ;
    display: flex;
    justify-content: center;
}
.block-text2{
    color: #fff;
    width: 40%;
    height: 100%;
    padding: 100px 0 0 45px;
}
.block-text2 b{
    font-size: 42px;
}
.block-text2 p{
    margin-top: 15px;
    font-size: 18px;
}
.block-text2 button{
    height: 55px;
    width: 60%;
    border-radius: 60px;
    color: #fff;
    border: none;
    background-color: #0395FF;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    transition: 0.3s all;
}
.block-text2 button:hover{
    background-color: #34aaff;
}
.section7{
    padding-top: 90px;
    height: auto;
    width: 100%;
}

.section7 .cards img{
    height: 360px;
}
.section7 .cards i{
    bottom: 110px;

}
.section7 .more i{
    left: 170px;
    bottom: 51px;
}
.section7 .slider-item{
    height: 450px;
}
.section8{
    padding-top: 50px;
    height:auto;
    width: 100%;
}
.proccess-block img{
    margin-top: 40px;
    width: 100%;
    /* height: 640px; */
}
.proccess-block{
    width: 100%;
    height: 675px;
    position: relative;
    display: flex;
}
.position-block{
    width: 667px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    border-radius: 0 30px 0 0;
    padding: 60px 130px 0 60px;
    bottom: 0;
    left: 0;
}
.position-block b{
    font-size: 24px;
}
.position-block .comment{
    margin-top: 30px;
}
.footer{
    margin-top: 120px;
    height: auto;
    width: 100%;
}
.footer-container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.footer-contacts{
    padding: 10px 0;
    height: auto;
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
}
.footer-contacts1{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.whatsapp-block{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.whatsapp-block b{
    color: #8C8C8C;
}
.whatsapp-icon{
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 1px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #46C456;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}
.whatsapp-icon:hover{
    background-color: #66cd74;
}
.whatsapp-block i{
    color: #fff;
    font-size: 20px;
}
.whatsapp-phone b{
    margin-left: 10px;
    color: #151515;
}
.support{
    border-right: 2px solid #8C8C8C;
    width: 25%;
    height: 30%;
    display: flex;
    align-items: center;
    color: #8C8C8C;
}
.support-phone b{
    margin-left: 10px;
    color: #151515;
}
.gmail{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer-navigation{
    height: auto;
    width: 100%;
    background-color: #F0F0F0;
}
.footer-navigation1{
    height: 100%;
    width: 100%;
    padding-top: 30px;
}
.footer-sec1{
    height: 75%;
    width: 100%;
    border-bottom: 2px solid #D6D6D6;
    display: flex;
}
.sec1-1{
    width: 25%;
    height: 100%;
    padding-bottom: 60px;
}
.footer-logo b{
    font-family: 'Nerko One', cursive;
    font-size: 46px;
    color:#2779CF;
}
.sec1-1 p{
    color: #747474;
}
.sec1-2{
    width: 10%;
    height: 100%;
}
.sec1-2-title{
    color: #ABABAB;
}
.sec1-2 ul{
    list-style: none;
}
.sec1-2 ul li{
    margin-top: 15px;
}
.sec1-2 ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.sec1-3-title{
    color: #F0F0F0;
}
.sec1-3 ul{
    list-style: none;
}
.sec1-3 ul li{
    margin-top: 15px;
}
.sec1-3 ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.sec1-3{
    width: 10%;
    height: 100%;
}
.sec1-4{
    width: 65%;
    height: 100%;
}
.sec1-4center{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.telegram-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #fff;
}
.telegram-icon a{
    color: #2779CF;
}
.instagram-icon{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #D803DF 0%, #FFA800 100%);
    font-size: 18px;
}
.instagram-icon a{
    color: #fff;
}
.sec1-4 button{
    margin-left: 20px;
    width: 30%;
    height: 55px;
    border-radius: 60px;
    border: none;
    background-color: #2779CF;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}
.sec1-4 button:hover{
    background-color: #448fe0;
}
.footer-sec2{
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}































@media (max-width: 1200px){
    .nav-container{
        max-width: 1024px;
    }
    .nav-container{
        max-width: 1024px;
    }
    .text1{
        font-size: 40px;
    }
    .text2{
        font-size: 40px;
    }
    .text3{
        font-size: 24px;
    }
    .i5 b{
      font-size: 40px;  
    }
    .i5 p{
      font-size: 20px;  
    }
    .section2{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .sircle-1{
        width: 350px;
        height: 350px;
    }
    .sircle1 img{
        width: 350px;
        height: 350px;
    }
    .sircle-2{
        width: 300px;
        height: 300px;
    }
    .sircle2 img{
        width: 300px;
        height: 300px;
    }
    .sircle-3{
        width: 280px;
        height: 280px;
    }
    .sircle3 img{
        width: 280px;
        height: 280px;
    }
    .price-block{
        width: 475px;
    }
    .sec1-4center{
        justify-content: start;
    }
}
@media (max-width: 1024px){
    .nav-container{
        max-width: 768px;
    }
    .nav-list{
        display: none;
    }
    .bars{
        display: block;
        font-size: 26px;
    }
    .nav-container{
        max-width: 768px;
    }
    .block{
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        padding-bottom: 20px;
    }
    .block-text{
        width: 100%;
    }
    .block button{
        width: 100%;
    }
    .section2{
        padding-bottom: 50px;
        gap: 15px;
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "i1 i2"
                             "i3 i4"
                             "i5 i5"
                             "i5 i5";
    }
    .container{
        padding: 0 10px;
    }
    .block-img img{
        width: 100%;
    }
    .circle-images{
        padding-top: 30px;
        flex-direction: column;
    }
    .sircle1{
        height: 350px;
        margin: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .sircle-1{
        width: 350px;
        height: 350px;
    }
    .sircle1 img{
        width: 350px;
        height: 350px;
    }
    .sircle-2{
        width: 350px;
        height: 350px;
    }
    .sircle2{
        margin: 0;
        height: 350px;
        width: 350px;
        margin-top: 30px;
    }
    .sircle2 img{
        width: 350px;
        height: 350px;
    }
    .sircle3{
        margin: 0;
        height: 350px;
        width: 350px;
        margin-top: 30px;
    }
    .sircle-3{
        width: 350px;
        height: 350px;
    }
    .sircle3 img{
        width: 350px;
        height: 350px;
    }
    .more i{
        bottom: 64px;
    }
    .price-blocks{
        flex-direction: column;
    }
    .price-block{
        width: 100%;
        padding: 60px 20px 50px 20px;
    }
    .price b{
        font-size: 36px;
    }
    .price i{
        font-size: 36px;
    }
    .section4{
        padding-top: 90px;
    }
    .block-text2{
        width: 100%;
        padding: 0 15px;
    }
    .block-text2 button{
        width: 100%;
    }
    .a{
        padding: 35px 10px 35px 20px;
    }
    .proccess-block{
        flex-direction: column;
    }
    .position-block{
        width: 100%;
        border-radius: 0 0 30px 30px;
    }
}
@media (max-width: 768px){
    .nav-container{
        max-width: 480px;
    }
    .nav-container{
        max-width: 480px;
    }
    .position-block{
        bottom: 40px;
        padding: 0px 130px 0 60px;
    }
}
@media (max-width: 480px){
    .position-block{
        bottom: 120px;
        padding: 0px 0 0 0;
    }
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-list{
    overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    top: 40%;
    z-index: 10;
    font-size: 0px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.slider{
    position: relative;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #898989;
    border: none;
    border-radius: 50%;
    margin: 0 15px;
    transition: 0.3s all;
}
.slider .slick-dots li.slick-active button{
    width: 50px;
    background-color: #2779CF;
    border-radius: 60px;
}











